* {
    padding: 0;
    margin: 0;
}

#page-wrapper {
    width: 100vw;
    height: 100vh;
}

#navbar {
    width: 100vw;
    height: 13vh;
}

#navbar li, a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 180%;
}
#navbar li {
    border: 1px solid black;
}

.navS, .navL {
    background: rgba(0, 0, 0, 0.3);
}

.navS {
    width: 17vw;
    height: 10vh
}
.navL {
    width: 30vw;
    height: 15vh;
}